<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
        <servlet>
            <servlet-name>Homepage</servlet-name>
            <servlet-class>app.servlet.Homepage</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Homepage</servlet-name>
            <url-pattern></url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Order</servlet-name>
            <servlet-class>app.servlet.Order</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Order</servlet-name>
            <url-pattern>/order</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>FindOrder</servlet-name>
            <servlet-class>app.servlet.FindOrder</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>FindOrder</servlet-name>
            <url-pattern>/find-order</url-pattern>
        </servlet-mapping>
</web-app>